/* =========================================================================  */
/* Base typography */
/* =========================================================================  */

html {
    font-size: $base-html-size;
}

body {
    @include font-family($main-font-type);
    @include font('large');
    font-weight: $book;
    line-height: (22/14);
    -webkit-font-smoothing: antialiased;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $book;
    @include font('large');
}
