/* =========================================================================  */
/* General styles for the preview block */
/* =========================================================================  */
.d-renderer {
    margin-top: 60px;
    margin-bottom: 80px;
    width: 100%;
    border: 1px solid $neutral-stroke;
    border-radius: $border-radius;
    padding: 25px;
    position: relative;
    min-height: 90px;
    display: table;
}

.d-renderer--bg {
    border: none;
    background-color: $neutral-bg;
}

.d-renderer.shows-code {
    background-color: $code-bg;
    padding-left: 10px;
}

/* =========================================================================  */
/* Switch preview mode button */
/* =========================================================================  */
.d-renderer__preview-mode {
    position: absolute;
    top: 25px;
    right: 25px;
    border-radius: $border-radius;
    border: 0;
    box-shadow: $shadow;
    height: 40px;
    line-height: 40px;
}

.d-renderer__radio {
    @include font('medium');
    background-color: $white;
    display: inline-block;
    height: 100%;
    padding: 0 20px;
    position: relative;
    border-radius: $border-radius 0 0 $border-radius;
    cursor: pointer;

    &:last-child {
        border-radius: 0 $border-radius $border-radius 0;
        float: right;
    }
}

.d-renderer__radio-input {
    position: absolute;
    left: -9999px;

    &:checked + .d-renderer__radio {
        color: $white;
        background-color: $primary-color;
    }
}

/* =========================================================================  */
/* Tab */
/* =========================================================================  */

.d-renderer__visual {
    padding-right: 200px;
    display: inline-block;
    text-align: left;
}

.d-renderer__code {
    padding-right: 200px;
}
