/* =========================================================================  */
/* Docs shortcut */
/* =========================================================================  */

.c-docs-shortcut {
    position: absolute;
    bottom: $spacing-xl;
    right: $spacing-xl;
}
