.c-editable-list__events {
    padding-top: 2rem;
    position: initial;
}

.c-editable-list__events .c-entity {
    margin-bottom: 1rem;
}

.c-editable-list .o-btn.o-btn--transparent {
    padding: 0;
}
