/* =========================================================================  */
/* Component: filter */
/* =========================================================================  */

.c-filter {
    transition: max-height .15s ease-in-out, opacity .15s ease-in-out;
    border-top: .1rem solid $neutral-stroke;
    position: relative;
    max-height: 1000px;
    opacity: 1;
}

.c-filter.is-appended {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.c-filter:not(.is-open) {
    cursor: pointer;
}

.c-filter:not(.is-open):hover {
    transition: background-color .08s ease-in-out;
    background-color: $neutral-bg;
}

.c-filter:not(.is-open):hover .c-filter__more-btn {
    pointer-events: auto;
    opacity: 1;
}

.c-filter__more-btn:hover,
.c-filter__more-btn.has-popover-displayed {
    background-color: $neutral-4;
}

.c-filter__close-btn .o-icon {
    transition: transform .08s ease-in-out;
    transform: rotate(90deg);
}

.c-filter__controls {
    position: absolute;
    top: 0;
    right: 2rem;
}

.c-filter__more-btn {
    transition: opacity .08s ease-in-out;
    top: .3rem;
    opacity: 0;
    pointer-events: none;
}

.c-filter__overview {
    padding: 1.5rem 2rem;
}

.c-filter__title {
    @include font('x-small');
    color: $neutral-text-dark;
}

.c-filter__meta {
    @include font('medium');
    color: $neutral-text;
}

.c-filter__edit {
    padding: 2rem;
    background-color: $neutral-bg;
    display: none;
}

/* =========================================================================  */
/* State: is open */
/* =========================================================================  */

.c-filter.is-open .c-filter__close-btn .o-icon {
    transform: rotate(0);
}

.c-filter.is-open .c-filter__edit {
    display: block;
}

.c-filter.is-open .c-filter__overview {
    display: none;
}

.c-filter.is-open .c-filter__more-btn {
    opacity: 1;
    pointer-events: auto;
}

.c-filter__footer {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
}

/* =========================================================================  */
/* Modifier: is single */
/* =========================================================================  */

.c-filter--single {
    background-color: $primary-color-bg;
    border-top: 0;
}

.c-filter--single:not(.is-open):hover {
    transition: background-color .08s ease-in-out;
    background-color: $primary-color-bg-hover;
}

.c-filter--single .c-filter__title {
    color: $primary-color;
}

.c-filter--single .c-filter__controls .js-filter-close {
    color: $primary-color;
    margin-left: .5rem;
}

.c-filter--single .c-filter__controls .o-btn-wrapper {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-6%);
    transition: transform .12s ease-in-out, opacity .12s ease-in-out;
    z-index: 1;
    position: relative;

    &.is-effective {
        opacity: 1;
        pointer-events: auto;
        transform: translateX(0);
    }
}

.c-filter--single .c-filter__controls {
    top: 1rem;

    .o-btn-wrapper {
        color: red;
    }

    .o-btn--transparent {
        padding: 0;
        z-index: 1;
    }
}
