/* =========================================================================  */
/* Component: Top bar containing persistent actions + contextual actions */
/* =========================================================================  */

.c-top-bar {
    width: 100%;
    background-color: $neutral-bg;
    padding: 0 $spacing-xl;
}

.c-top-bar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .1rem solid $neutral-btn;
}
