/* =========================================================================  */
/* Text cloud */
/* =========================================================================  */

.c-text-cloud {
    @include list-reset;
    width: 36rem;
    height: 36rem;
    color: $neutral-text-dark;
}
