/* =========================================================================  */
/* Label */
/* =========================================================================  */

.o-label {
    @include font('small');
    display: block;
    color: $neutral-text-dark;
    margin-bottom: 0.6rem;
}
