/* =========================================================================  */
/* Object: notification */
/* =========================================================================  */

.o-notification {
    height: 0.6rem;
    width: 0.6rem;
    background-color: $red;
    border-radius: 0.6rem;
    display: block;
}

/* =========================================================================  */
/* Modifier: positive */
/* =========================================================================  */

.o-notification--positive {
    background-color: $positive-text;
}

/* =========================================================================  */
/* Scope: used inside button */
/* =========================================================================  */

.o-btn .o-notification {
    position: absolute;
    right: -9px;
    top: 40%;
    transform: translateY(-50%);
}
