@charset 'UTF-8';

/* =========================================================================  */
/* Config */
/* =========================================================================  */

$main-font-type: 'sans-serif';
$webfonts-class: '.fonts-loaded';

/* =========================================================================  */
/* Imports */
/* =========================================================================  */

@import '../../../../node_modules/normalize.css/normalize';
@import '../../../../node_modules/susy/sass/susy';
@import '../../../../node_modules/susy/sass/plugins/svg-grid/prefix';

/**
 * Settings.
 */
@import
    'settings/s.reset',
    'settings/s.colors',
    'settings/s.physics',
    'settings/s.transitions',
    'settings/s.typography',
    'settings/s.webfonts',
    'settings/s.mixins',
    'settings/s.variables',
    'settings/s.z-index';

/**
 * Base.
 */
@import
    'base/**/*';

/**
 * Objects.
 */
@import
    'objects/**/*';

/**
 * Objects.
 */
@import
    'groups/**/*';

/**
 * Components.
 */
@import
    'components/**/*';

/**
 * Javascript.
 */

$pd-text-color: $neutral-text-dark;
$pd-title-color: $neutral-text-dark;
// $pd-title-bg: #fff;
// $pd-picker-bg: #fff;
$pd-picker-border: transparent;
$pd-picker-border-bottom: transparent;
// $pd-picker-shadow: rgba(0,0,0,.5);
$pd-th-color: $neutral-text-dark;
$pd-day-color: $neutral-text;
$pd-day-bg: transparent;
// $pd-day-hover-color: #fff;
$pd-day-hover-bg: $primary-color;
$pd-day-today-color: $red;
// $pd-day-selected-color: #fff;
$pd-day-selected-bg: $primary-color;
$pd-day-selected-shadow: transparent;
// $pd-day-disabled-color: #999;
// $pd-week-color: #999;
@import '../../../../node_modules/pikaday/scss/pikaday';

@import
    'js/**/*';

/**
* Pages.
*/
@import
    'pages/**/*';

/**
 * Utilities.
 */
@import
    'utilities/**/*';

/**
 * Docs.
 */
$docs-nav: 320px;
@import
    'docs/**/*';
