/* =========================================================================  */
/* Variables */
/* =========================================================================  */

$base-html-size: 62.5%;

/* =========================================================================  */
/* Rounded Corners */
/* =========================================================================  */

$border-radius-large: 0.4rem;
$border-radius: 0.2rem;
$border-radius-small: 0.1rem;

/* =========================================================================  */
/* Spacing Units */
/* =========================================================================  */

$base-spacing: 1.5rem;

$spacing-xxs: 0.5rem;
$spacing-xs: 0.8rem;
$spacing-s: 1rem;
$spacing-m: $base-spacing;
$spacing-l: 2rem;
$spacing-xl: 2.5rem;
$spacing-2xl: 3.5rem;

/* =========================================================================  */
/* Text boxes */
/* =========================================================================  */

$text-box-v-spacing: 0.8rem;
$text-box-h-spacing: 1.5rem;

/* =========================================================================  */
/* Modal */
/* =========================================================================  */

$modal-padding: $spacing-l;
$modal-body-padding: 0 $modal-padding;
